@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url('https://fonts.googleapis.com/css?family=Staatliches');
@import url('https://fonts.googleapis.com/css?family=Exo');
#titles {font-family: 'Exo', sans-serif;font-size: 18pt;}
#subtitles {font-family: 'Archivo Narrow', sans-serif;}
#logofont {font-family: 'Staatliches', cursive;}
#nav {border-style: solid;border-color: black;}
#contact-body {font-size: 15;}
#navbarlogo {padding-bottom: 10px;}
#resize {height: 250px; width: auto;}
#nobold {text-decoration: none;}
#sats { display: flex; flex-direction: column-reverse; }
#entirenav {position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: white;}
.nav-bar {list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
    background-color: white;}
.nav-bar-li {display: inline-block;padding: 10px 20px 10px;margin: auto;background-color: white;}
a {text-decoration: none;color: black;}
li.nav-bar-li:hover{background-color: black;color: white;}
li.nav-bar-li:hover a{background-color: black;color: white;}
body {background-color: white;color: black;font-family: 'Ubuntu', sans-serif;}
table tr.separator { height: 30px; }
separator {height: 30px;}
.active {color: green;}
.inactive {color: orange;}
.canceled {color: red;}
.depracated {color: yellow;}
.hidden {display: none;}
